extends layout
block content
	#decision
		img(src="/images/logo.png", alt="Logo Rede Sustentabilidade", class="pure-img")
		div.box-center
			p.email
				| Olá &nbsp;
				span #{user.username}
				| ,
			p.inform-question
				|  a url abaixo está solicitando acesso ao seu endereço de e-mail.
			p.client
				span #{client.name}
			form(action='/decision', method='post')
				p.decision-question O que gostaria de fazer?
				input(name='transaction_id', type='hidden', value='#{transactionID}')
				button(type='submit',value='Allow', id='allow', class=['pure-button', 'pure-button-success']) Aceitar
				button(type='submit',value='Deny', name='cancel', id='deny', class=['pure-button', 'pure-button-error']) Cancelar