doctype html
html
	head
		title Passaporte - Rede Sustentabilidade
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet')
		link(rel="stylesheet", href="/css/purecss-min.css")
		link(rel="stylesheet", href="/css/main.css")
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		block content