extends layout
block content
	#login
		img(src="/images/logo.png", alt="Logo Rede Sustentabilidade", class="pure-img")
		div.box-center
			form(action='/change_password',method='post', class="pure-form pure-form-stacked")
				- if (message_type)
					p(class="pure-alert pure-alert-#{message_type}") !{message}
				- else if (message)
					p.pure-alert.pure-alert-error !{message}
				label(for='username') E-mail
				input(id='username', type='email',value='', name='username', class='pure-input-1', required)
				label(for='current_password') Senha Atual
				input(id='current_password', type='password',value='', name='current_password', class='pure-input-1', required)
				label(for='new_password') Nova Senha
				input(id='new_password', type='password',value='', name='new_password', class='pure-input-1', required)
				label(for='repeat_new_password') Repetir Nova Senha
				input(id='repeat_new_password', type='password',value='', name='repeat_new_password', class='pure-input-1', required)
				label(class="right")
					input(type='submit',value='Trocar Senha', class='pure-button pure-button-primary')
		p.box-bottom
			a(href="/registration") Fazer login
			| &nbsp; | &nbsp;
			a(href="/lost_password") Perdeu a senha?
		p
			a(href="#{url_site}")
				| ← Voltar para o início
