extends layout
block content
	#login
		img(src="/images/logo.png", alt="Logo Rede Sustentabilidade", class="pure-img")
		div.box-center
			- if (message_type)
				p(class="pure-alert pure-alert-#{message_type}") !{message}
			- else if (message)
				p.pure-alert.pure-alert-error !{message}
			- else
				p.pure-alert.pure-alert-secondary Digite seu nome de usuário ou endereço de e-mail. Você receberá um link para criar uma nova senha via e-mail.
			form(action='/lost_password', method='post', class="pure-form pure-form-stacked")
				label(for='email') E-mail
				input(id='email', type='email',value='', name='email', class='pure-input-1', required)
				label(class="right")
					input(type='submit',value='Obter nova senha', class="pure-button pure-button-primary")
		p.box-bottom
			a(href="/oauth/authorization") Fazer Login
			| &nbsp; | &nbsp;
			a(href="/registration") Registre-se!
		p
			a(href="#{url_site}")
				| ← Voltar para o início

