extends layout
block content
	#login
		img(src="/images/logo.png", alt="Logo Rede Sustentabilidade", class="pure-img")
		div.box-center
			- if (message_type)
				p(class="pure-alert pure-alert-#{message_type}") !{message}
			- else if (message)
				p.pure-alert.pure-alert-error !{message}
			- else
				p.pure-alert.pure-alert-warning Se já tem cadastro, utilize o mesmo e-mail e saberemos quem é você.
			form(action='/registration', method='post', class="pure-form pure-form-stacked")
				label(for='email') E-mail
				input(id='email', type='email',value='', name='email', class='pure-input-1', required)
				label(class="right")
					input(type='submit',value='Registrar-se', class="pure-button pure-button-primary")
		a(href="/oauth/authorization") Fazer Log In
		a(href="#{url_site}") Voltar para o site