extends layout
block content
    div
      form(action='/client/registration',method='post')
        p
            label(for='name') Name:
               input(id='name',type='text',value='', name='name')
        p
            label(for='redirect_uri') Redirect URI:
               input(id='redirect_uri',type='text',value='', name='redirect_uri')
        p
            input(type='submit',value='Sign up')